.ballsRemaining {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* duplicate css file, same as score.module.css*/