.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: var(--grid-color);
  gap: 1px;
}

.value {
  grid-column: 1 / 4;
  text-align: right;
  padding-right: 0.5em;
  color: var(--number-value-color);
  background-color: var(--bg-color);
}

.clear {
  grid-column: 2 / 4;
}

.container button {
  background-color: var(--bg-color);
  border: 0;
  padding-top: 0.2em;
}