.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0.5em;
  text-align: center;
}

.display, .value {
  grid-column: 1 / 4;
}

.value {
  font-size: 2em;
  margin: 0.5em;
}

.container span {
  color: var(--number-value-color);
}

.container button {
  background-color: var(--bg-color);
  margin: 0 0.2em;
  border-radius: 0.2em;
}

.display {
  border-radius: 2em;
  border: 3px solid var(--selectable-border-color-unselected);
}

.clickable:hover {
  border-color: var(--selectable-border-color-hover);
  cursor: pointer;
}

.active, .active:hover {
  border-color: var(--selectable-border-color-selected);
}