.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0.5em;
  text-align: center;
}

.display, .value {
  grid-column: 1 / 4;
}

.value {
  font-size: 2em;
  margin: 0.5em;
}

.container span {
  color: blue;
}

.container button {
  background-color: white;
  margin: 0 0.2em;
  border-radius: 0.2em;
}

.display {
  border-radius: 2em;
  border: 3px solid white;
}

.clickable:hover {
  border-color: #ccc;
  cursor: pointer;
}

.active, .active:hover {
  border-color: #FE64A3
}

