.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0.5em;
  text-align: center;
}

.display, .value {
  grid-column: 1 / 4;
}

.value {
  font-size: 2em;
}

.active {
  /* background-color: #78C3FB; */
  border: 3px solid #FE64A3;
  border-radius: 3px;
}