.results {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1px;
  background-color: black;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5em;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}