.title {
  text-align: center;
  color: var(--title-white);
  font-weight: bold;
  padding: 0.5em;
}

.blue {
  background-color: var(--title-blue);
}

.green {
  background-color: var(--title-green);
}